.intento{  
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  height: 45px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.btn1{
  width: 133px;
  height: 45px;
  margin-bottom: 18px;
}
.margen-centro{
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
ion-card{
  border-radius: 16px;
  border-color: #a39ee7;
  --height: 50%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-card-header{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #a39ee7;
  
}
