<app-header-back></app-header-back>
<ion-content >
  <div class="ion-text-center ion-align-items-center">
      <div class="margen-centro"> 
        <ion-card>
          <ion-card-header>
            <ion-card-title>¿Estas listo?</ion-card-title>
          </ion-card-header>
          <ion-grid >
            <ion-row>
              <ion-col >
                <ion-card [routerLink]="['/generar-venta']">
                  <ion-img style="height: 100px; width: 100px; margin: 0 auto; margin-top: 20px; margin-bottom: 20px;" 
                         src="../../../assets/img/ventas.png">
                </ion-img>
                <p>Realizar venta</p>
                </ion-card>
              
              </ion-col>
        
            

            </ion-row>
          </ion-grid>

        </ion-card>
      </div>
  </div>
</ion-content>
<app-menu-bar></app-menu-bar>

